################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MergeProject/MergeProject/bin/Debug/netcoreapp2.1
/MergeProject/MergeProject/obj
/MergeProject/.vs/MergeProject
/MergeProject/MergeLib/bin/Debug/netcoreapp2.1
/MergeProject/MergeLib/obj
