################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MergeProject/MergeProject/bin/Debug/netcoreapp2.1
/MergeProject/MergeProject/obj
/MergeProject/.vs/MergeProject
/MergeProject/MergeLib/bin/Debug/netcoreapp2.1
/MergeProject/MergeLib/obj
/MergeProject/MergeLibTest/bin/Debug/netcoreapp2.1
/MergeProject/MergeLibTest/obj
/MergeProject/.vs/config
/MergeProject/ViewMerge/bin/Debug/netcoreapp2.1
/MergeProject/ViewMerge/obj
/MergeProject/WebVueTest/wwwroot/Files
obj
bin
images
