.alert-block {
  position: absolute;
  z-index: 1000;
  top: 0%;
  left: 80%;
  pointer-events: none; }

.alert-log {
  margin: 10px; }

.alert-log .alert-log-data {
  color: #144405; }

.fix {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.alert-bottom {
  top: 90%; }

.alert-right {
  left: 94%; }

.alert-toogle-right {
  left: 100%; }

.alert-msg {
  pointer-events: auto;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: .50rem; }

.alert-msg:hover {
  background-color: burlywood; }
