.stage {
  float: right;
  width: 300px;
  height: 300px;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
  margin-right: 100px; }

figure {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  /*background-color: #60c2ef;*/ }

/* 3d */
/*-webkit-transform: rotateY(45deg) translateZ(-100px) rotateX(10deg);*/
.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotateCube 15s infinite linear; }

figure {
  -webkit-transform-origin: 50% 50% 0; }

figure:before, figure:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; }

figure:before {
  background: -webkit-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
  -webkit-animation: frontShading1 10s infinite linear; }

figure:after {
  background: -webkit-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000); }

.front {
  -webkit-transform: translateZ(150px); }

.back {
  -webkit-transform: rotateY(180deg) translateZ(150px); }

.top {
  -webkit-transform: rotateX(90deg) translateZ(150px); }

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px); }

.left {
  -webkit-transform: rotateY(-90deg) translateZ(150px); }

.right {
  -webkit-transform: rotateY(90deg) translateZ(150px); }

@-webkit-keyframes rotateCube {
  0% {
    -webkit-transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(-360deg); } }

@-webkit-keyframes frontShading1 {
  2% {
    opacity: 0; }
  25% {
    opacity: 0.8; }
  35% {
    opacity: 0.8; }
  50% {
    opacity: 0; } }

/*.top:after {
    opacity: 0.5;
    width: 200%;
    height: 200%;
    margin-left: -50%;
    margin-top: -50%;
    background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
    -webkit-animation: rotateTop 10s infinite linear;
}

@-webkit-keyframes rotateTop {
    0% {
        -webkit-transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}*/
.bottom {
  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  background-color: transparent; }
