.tooltip-el__textWrapper .tooltip-el__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

.tooltip-el__textWrapper .tooltip-el__icon {
  transition: top 500ms; }

.tooltip-el {
  display: inline-block;
  position: relative;
  transition: background-color 500ms, transform 100ms; }
  .tooltip-el__textWrapper .tooltip-el__icon {
    top: 100%;
    /*background: url('https://cl.ly/0X3o100h2H0g/icon-download.svg') no-repeat center center;*/
    background-color: #000;
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem;
    left: 46px; }
  .tooltip-el::before {
    content: attr(data-tooltip);
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    border-radius: .25em;
    line-height: 20px;
    left: 80%;
    padding-left: 7px;
    padding-right: 7px; }
  .tooltip-el::after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #000;
    left: 80%; }
  .tooltip-el::before, .tooltip-el::after {
    position: absolute;
    opacity: 0;
    transition: all 500ms;
    visibility: hidden; }
  .tooltip-el:hover {
    /*background-color: #01BAEF;*/ }
    .tooltip-el:hover .Button__text {
      top: -100%; }
    .tooltip-el:hover .Button__icon {
      /*top: 0;*/ }
    .tooltip-el:hover::before, .tooltip-el:hover::after {
      opacity: 1;
      visibility: visible; }
    .tooltip-el:hover::after {
      bottom: 17px; }
    .tooltip-el:hover::before {
      bottom: 35px; }
  .tooltip-el:active {
    transform: translate(2px, 2px); }
