//- BASE
//- COMPONENT
$duration: 500ms;
$button-height: 60px;
$button-width: 200px;
$tooltip-height: 20px;
$tooltip-width: 100px;

%Button__element {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

%Button__transitionable {
    transition: top $duration;
}

.Button {
    display: inline-block;
    position: relative;
    /*background-color: #0CBABA;*/
    /*color: #fff;*/
    font-size: 1.2rem;
    border-radius: 1000px;
    /*box-shadow: 0 2px 20px rgba(#000, 0.7), inset 0 1px rgba(#fff, 0.3);*/
    text-align: center;
    transition: background-color $duration, transform 100ms;
    &__textWrapper

    &__icon {
        @extend %Button__element;
        @extend %Button__transitionable;
        top: 100%;
        background: url('https://cl.ly/0X3o100h2H0g/icon-download.svg') no-repeat center center;
    }

    // Tooltip
    &::before {
        content: attr(data-tooltip);
        background-color: #EEB868;
        font-size: 1rem;
        border-radius: .25em;
        line-height: $tooltip-height;
        width: 200px;
        left: 80%;
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #EEB868;
        left: 80%;
    }

    &::before,
    &::after {
        position: absolute;
        opacity: 0;
        transition: all $duration;
        visibility: hidden;
    }

    //- button hover
    &:hover {
        /*background-color: #01BAEF;*/
        .Button__text

    {
        top: -100%;
    }

    .Button__icon {
        /*top: 0;*/
    }

    &::before,
    &::after {
        opacity: 1;
        visibility: visible;
    }

    &::after {
        bottom: 17px;
    }

    &::before {
        bottom: 35px;
    }

    }

    &:active {
        transform: translate(2px, 2px);
    }
}
