@using WebVueTest.Controllers;
@using System.IO;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;

@{ 
    ViewData["Title"] = "Test/CheckWrite";

}

<h2>Проверка провописания</h2>

<div id="main" class="container">

    
    <button class="main-button button-example loud-link-hover" 
            data-sound="https://localhost:44365/audio/cat-meow.{{type}}" 
            type="button" 
            name="button">Hover over me</button>
    <button class="main-button button-example loud-link-click" 
            data-sound="https://localhost:44365/audio/magic.{{type}}" 
            type="button" 
            name="button">Click me</button>

</div>

<script src="~/lib/loudlinks/loudlinks.js"></script>

@section Scripts{ 
    <script type="text/javascript">

        $(function () {
            
        });

        
    </script>
}
