@using WebVueTest.Controllers;
@using System.IO;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;

@{ 
    ViewData["Title"] = "Test/View";
}

<h2>View</h2>

<div id="main" class="container">

    

</div>

@section Scripts{ 

    <script type="text/javascript">

        

        
    </script>
}
