@using WebVueTest.Controllers;
@using System.IO;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = "Home/Html";
}

<style>

    .block{
        background-color: aquamarine;
        width: 150px;
        height: 150px;
        margin: 20px 50px;
        display: inline-block;
    }

    .img___child {
        width: 100%;
    }

    .logo-text {
        font-size: 50pt;
        margin-left: 30px;
    }

</style>
<link rel="stylesheet" href="~/css/rotate.css"/>
<link rel="stylesheet" href="~/css/rotate3d.css" />

<h2>html</h2>

<div id="main" class="container">

    <div class="block rotate-steps">
        <img class="img___child" src="~/images/rt.webp" />
    </div>

    <div class="block rotate-in-out">
        <img class="img___child" src="~/images/rt.webp" />
    </div>

    <div class="block rotate-in">
        <img class="img___child" src="~/images/rt.webp" />
    </div>

    <div class="block rotate-out">
        <img class="img___child" src="~/images/rt.webp" />
    </div>

    <div class="block rotate-ease">
        <img class="img___child" src="~/images/rt.webp" />
    </div>

    <div class="block rotate-bezier">
        <img class="img___child" src="~/images/rt.webp" />
    </div>

    <div class="block rotated">

    </div>

    <div class="stage">
        <div class="cube">
            <figure class="back">
                <i class="logo-text">S</i>
            </figure>
            <figure class="top">
                
            </figure>
            <figure class="bottom">
                
            </figure>
            <figure class="left">
                <i class="logo-text">M</i>
            </figure>
            <figure class="right">
                <i class="logo-text">T</i>
            </figure>
            <figure class="front">
                <i class="logo-text">I</i>
            </figure>
        </div>
    </div>

    <div class="stage">
        <div class="cube shading">
            <figure class="back">
                <img class="img___child" src="~/images/rt.webp" />
            </figure>
            <figure class="top">
                <img class="img___child" src="~/images/rt.webp" />
            </figure>
            <figure class="bottom">
                <img class="img___child" src="~/images/rt.webp" />
            </figure>
            <figure class="left">
                <img class="img___child" src="~/images/rt.webp" />
            </figure>
            <figure class="right">
                <img class="img___child" src="~/images/rt.webp" />
            </figure>
            <figure class="front">
                <img class="img___child" src="~/images/rt.webp" />
            </figure>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

    </script>
}
